*{
    padding: 0;
}
.nav{
    background-color: black !important;
}
.navbar img{
    width: 200px;
}
.form-inline{
    margin-right: auto;
    margin-left: auto;
}
.form-inline input{
    border-radius: 30px;
    width: 500px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.search{
    width: 12cm;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
}
.icon{
    cursor: pointer;
    color: white;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: rgb(0, 43, 84);
}
.fender{
    position: relative;
    background-size: cover;
    background-position: center;
    height: 90vh;

}